<section class="header bg-white careers-header mb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 left-content my-5 my-md-0">
                <h1 class="font-gooper mb-4">Let’s work together!</h1>
                <p class="mb-4">We’re always looking for skilled, committed, and talented team players</p>
                <p> We work on things that help build a better future for humankind. Parent™ is a product of that
                    commitment. It is the ultimate time-saving software solution for daycare facilities, nurseries, and
                    pre-schools. It is an all-in-one, powerful application, and platform that simplifies childcare
                    through its incredible features.
                </p>
                <h1 class="font-gooper mb-4">Our origins</h1>
                <p class="mb-4">Parent™ started in 2015 and has gained momentum ever since. In cooperation with small
                    and large institutions, Parent ™ has developed a simple Communication and Management System into a
                    complete solution for daycare facilities, nurseries, and preschools. Our childcare app is based on a
                    clear vision and a solid foundation.
                </p>
            </div>
            <div class="col-md-6 right-content ">
                <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/careers.png" alt="">
            </div>
        </div>
    </div>
</section>