<section class="header bg-white careers-header mb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 left-content my-5 my-md-0">
                {% for counter in informations %}
                        <div class="col-md-2 counter">
                            <h1 class="font-gooper mb-4">{{ counter.title }}</h1>
                            <p class="mb-4">{{ counter.text }}</p>
                        </div>
                {% endfor %}
            </div>
            <div class="col-md-6 right-content ">
                <img src="{{ banner }}" alt="">
            </div>
        </div>
    </div>
</section>