<section class="blog-header">
    <div class="container ">
        <div class="header-box">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="fw-bold">{{ text_title }}</h1>
                    <p>
                        {{ text_paragraph }}
                    </p>
                    <a href="{{ link_url }}" class="btn btn-tertiary mx-1">Read Article</a>
                </div>
                <div class="col-md-6">
                    <img class="header-img" src="{{ image_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
