<section class="core-values">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="core-value">
                    <i class="bi bi-heart-fill"></i>
                    <h4>Flexible Hours</h4>
                    <p>At later, we live by our values. These are our guiding principles.</p>
                </div>
            </div>
        </div>
    </div>
</section>