
<section class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 left-content my-5 my-md-0">
                <h1 class="font-gooper mb-4">{{ button }}</h1>
                <p class="mb-4">Our solution streamlines and improves communication in a single, secure platform,
                    accessible anywhere</p>
                <a href="#" class="btn btn-primary mx-1">Try it out</a>
            </div>
            <div class="col-md-7 right-content">
                <img src="{{ main_image }}" alt="">
            </div>
        </div>
    </div>
    <img src="{{ stylesheet_directory_uri }}/assets/images/header-wave.svg" class="bottom-wave">
</section>
