<section class="team">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2>The team</h2>
                <p>
                    We are parents and caregivers ourselves. We saw the amazing work carers can do when given the time to do it.
                    That’s why we made Parent™ so simple you’ll probably forget we’re there,
                    and it’s why we offer immediate support to institutions in need of tips or help working the Parent™ platform.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/team.png" alt="">
            </div>
        </div>
    </div>
</section>
