<section class="how-started">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 order-2 order-md-1">
                <div class="w-800 video-holder">
                    <img class="" src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/our-vision.png" alt="">
                </div>
            </div>
            <div class="col-md-8 text-section order-1 order-md-2">
                <h2>How we started</h2>
                <p>
                    Parent™ was born in 2015. We have been growing up ever since -
                    along with our fantastic clients, both the small ones and the definitely-not-so-small ones.
                    Who knew a simple communication and management
                    System could turn into the preferred solution for daycare facilities, nurseries, and preschools?
                </p>
            </div>
        </div>
    </div>
</section>
