<section class="how-started">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 order-2 order-md-1">
                <div class="w-800 video-holder">
                    <img class="" src="{{ left_image }}" alt="">
                </div>
            </div>
            <div class="col-md-8 text-section order-1 order-md-2">
                <h2>{{ title_text }}</h2>
                <p>
                    {{ paragraph_text }}
                </p>
            </div>
        </div>
    </div>
</section>
