<section class="pricing-slider">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 px-4 mb-5">
                <input type="text" id="pricing-slider" class="slider">
            </div>
            <div class="col-md-4">
                <div class="on-change-price">
                    <div class="per-month">
                        <span class="currency">€</span>
                        <span class="price">25</span>
                        <span class="price-time">Per Month</span>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>

                    <div class="per-month-more" style="display: none">
                        <span class="price-more">More than 75?</span>
                        <a href="#" class="btn btn-primary">Request a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var pricingSliderArray=JSON.parse('{{ counter | json_encode | raw }}');
</script>

