<section class="career-positions">
    <div class="container-fluid">
        <h2 class="text-center orange-title">Open Positions</h2>
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="career-box">
                                    <div class="boxed-for-flex">
                                        <h4>Outbound Sales Representative</h4>
                                        <span class="location">Copenhagen, Denmark</span>
                                    </div>

                                    <div class="boxed-for-flex">
                                        <span class="time"><i class="bi bi-briefcase-fill"></i> Full Time</span>
                                        <span class="position">Sales</span>
                                    </div>
                                    <a href="#" class="btn btn-primary mx-auto">View Opening</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>