<section class="info-slide">
    <div class="container">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <h4>Interview title goes here</h4>
                                <p>““In Step by Step Nursery we do follow the British Curriculum the EYFS, we used to
                                    document all these activities that children are doing in the classroom...</p>
                                <span class="author">Zeina al banna</span>
                                <span class="position">Admin, Sterp by Step Nursery - UAE</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="assets/images/slide-video.png" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <h4>Interview title goes here</h4>
                                <p>““In Step by Step Nursery we do follow the British Curriculum the EYFS, we used to
                                    document all these activities that children are doing in the classroom...</p>
                                <span class="author">Zeina al banna</span>
                                <span class="position">Admin, Sterp by Step Nursery - UAE</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="assets/images/slide-video.png" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <h4>Interview title goes here</h4>
                                <p>““In Step by Step Nursery we do follow the British Curriculum the EYFS, we used to
                                    document all these activities that children are doing in the classroom...</p>
                                <span class="author">Zeina al banna</span>
                                <span class="position">Admin, Sterp by Step Nursery - UAE</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="assets/images/slide-video.png" alt="">
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>