<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Parent is all about our users and stakeholders</h1>
                <p>Get in touch right here</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="address-picker" id="address-picker">
                    <ul class="countries-list list-group list-group-horizontal">
                        <li data-country="dk" class="list-group-item flex-fill active">DK</li>
                        <li data-country="de" class="list-group-item flex-fill">DE</li>
                        <li data-country="se" class="list-group-item flex-fill">SE</li>
                        <li data-country="no" class="list-group-item flex-fill">NO</li>
                        <li data-country="uae" class="list-group-item flex-fill">UAE</li>
                    </ul>
                    <div class="country-info">
                        <span class="country">Denmark(HQ)</span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item address"><i class="bi bi-geo-alt-fill"></i><span>Rentemestervej 2A, Copenhagen NV 2400</span>
                            </li>
                            <li class="list-group-item phone"><a href="#"><i class="bi bi-telephone-fill"></i><span>+45 8877 4044</span></a>
                            </li>
                            <li class="list-group-item mail"><a href="#"><i class="bi bi-envelope-fill"></i><span>contact@parent.cloud</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-links">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item"><a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://facebook.com"><i
                                            class="bi bi-facebook"></i></a></li>
                            <li class="list-group-item"><a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://pinterest.com"><i class="bi bi-pinterest"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://pinterest.com"><i
                                            class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form class="row g-3 mt-5 mt-md-0">
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="inputPhone">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" id="message" placeholder="Message"
                                  style="height: 10rem;"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-end">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>