<section class="icon-links py-5">
    <div class="container">
        <h2 class="text-center orange-title">{{ main_title }}</h2>
        <div class="links">
            <div class="row align-items-center">
                {% for counter in informations %}
                    <div class="col-6 col-sm-4 col-md-2 link">
                        <a href="{{ counter.url }}">
                            <img src="{{ counter.icon }}" alt="">
                            <span>{{ counter.title }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>