<section class="header our-vision-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-left">
                <div class="w-800">
                    <h3 class="mb-4"><span class="text-orange">Parent</span> is here to set carers free.</h3>
                    <p class="mb-4">Our solution streamlines and improves communication in a single, secure platform,
                        accessible anywhere. Automating tasks taking time away from caring for kids, we let carers make
                        a
                        true difference in the lives of the little ones, simply by making their workdays smarter, easier
                        and
                        more meaningful. Leave registration, communication, waitlists, scheduling, billing, curriculum
                        documentation, daily reports, and all the rest to Parent™. Then we’ll leave the care to you
                    </p>
                    <p>
                        If children are our future, shouldn’t we bring the future to the ones caring for them?
                    </p>
                    <p>It’s time for Parent.</p>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ stylesheet_directory_uri }}/assets/images/header-wave.svg" class="bottom-wave">
    <img src="{{ stylesheet_directory_uri }}/assets/vectors/purple-arrows.svg" class="bottom-right-img">
</section>
