<section class="enterprise-quote">
    <div class="container my-5 ">
        <div class="enterprise-box mx-auto py-5 px-4">
            <h2>Childcare Solutions for Entreprise!</h2>
            <h6>Create a seamless integrated experience for all your centers</h6>
            <div class="row align-items-center justify-content-between mt-3">
                <div class="col-12 col-lg-8">
                    <label for="email" class="form-label text-muted">Email</label>
                    <input type="email" placeholder="Type your email Address" id="email" class="w-100">
                </div>
                <div class="col-12 col-lg-4 my-3 ">
                    <button class="btn btn-primary w-100">Request a quote</button>
                </div>
            </div>
        </div>
    </div>
</section>
